@charset "utf-8";

$primary-color:       #5170ff;
$link-color:          #5170ff;
$link-color-hover:    mix(#fff, #5170ff, 20%);
$link-color-visited:  mix(#000, #5170ff, 20%);

@import "minimal-mistakes";

.greedy-nav a:before {
  background: #5170ff;
}

.site-logo img {
  max-height: 2.5rem;
}